.advantages__wrapper {
  width: 260px;
  margin: auto;
  margin-bottom: 60px;
}

.advantages__title {
  .text(25px,30px);
  font-weight: bold;
  margin: 0;
  margin-bottom: 31px;
  padding-top: 34px;
  color: @color-text;
  background-color: @color-bg;
}

.advantages__list {
  list-style: none;
  .no-indents();
}

.advantages__item {
  .text(17px, 20px);
  font-weight: bold;
  margin-bottom: 31px;
  color: @color-text;
  background-color: @color-bg;
}
