@advantages-main: #000000;

.advantages {}

.advantages__wrapper {
  width: 260px;
  margin: auto;
  margin-bottom: 60px;
  outline: 1px solid red;
}

.advantages__title {
  .text(25px,30px,bold);
  margin: 0;
  margin-bottom: 31px;
  padding-top: 34px;
  color: @advantages-main;
  background-color: @bg-main;
}

.advantages__list {
  list-style: none;
  .indents();
}

.advantages__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 31px;
  color: @advantages-main;
  background-color: @bg-main;
}
