.catalog__header {
  color: @color-text;
  background-color: @color-bg--lightgrey;
  padding: 70px 0;
  padding-bottom: 75px;
  text-align: center;
}

.catalog__title {
  .no-indents;
  .text(27px, 30px);
  font-weight: bold;
  .container();
}

.catalog__container {
  .container();
  padding: 0 30px;
  padding-top: 30px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .no-indents;
  list-style: none;
}

.catalog__item-img {
  width: 260px;
  height: 195px;
}

@media (min-width: @tablet-width) {

  .catalog__container {
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    margin-top: -10px;
    padding-top: 91px;
  }

  .catalog__header {
    padding: 54px 0 78px 0;
  }

  .catalog__title {
    .text(43px, 50px);
  }
}

@media (min-width: @desctop-width) {

  .catalog__container {
    margin-top: -15px;
    padding-top: 145px;
  }

  .catalog__header {
    padding: 52px 0 102px 4px;
  }

  .catalog__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .catalog__title {
    .text(53px, 57px);
  }
}
