.catalog__header {
  color: @color-text;
  background-color: @color-bg;
  padding: 75px 0;
  text-align: center;
}

.catalog__title {
  .no-indents;
  .text(27px, 30px);
  font-weight: bold;
}

.catalog__wrapper {
  width: 260px;
  padding-top: 30px;
  margin: auto;
}

.catalog__list {
  .no-indents;
  list-style: none;
}
