@main-catalog-item: #000000;
@bg-catalog-item: #ffffff;
@br-catalog-item: #ececec;


.catalog-item {
  margin-bottom: 30px;
  border: 1px solid @br-catalog-item;
}

.catalog-item__title{
  .no-indents;
}

.catalog-item__wrapper {
  padding: 30px;
}

.catalog-item__link {
  display: block;
  .text(17px, 24px, bold);
  text-decoration: none;
  margin-bottom: 17px;
  color: @main-catalog-item;
  background-color: @bg-catalog-item;
}

.catalog-item__description {
  .text(13px, 30px);
  .no-indents;
  padding-bottom:30px;
  border-bottom: 1px solid @br-catalog-item;
  color: #444444;
  background-color: @bg-catalog-item;
}

.catalog-item__price {
  .text(15px, 24px, bold);
}
