.catalog-item {
  margin-bottom: 30px;
  border: 1px solid @color-br;
}

.catalog-item__title{
  .no-indents;
}

.catalog-item__wrapper {
  padding: 30px;
}

.catalog-item__link {
  display: block;
  .text(17px, 24px);
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 17px;
  color: @color-text;
  background-color: @color-bg;
}

.catalog-item__description {
  .text(13px, 30px);
  .no-indents;
  padding-bottom:30px;
  border-bottom: 1px solid @color-br;
  color: @color-text--lightgrey;
  background-color: @color-bg;
}

.catalog-item__price {
  .text(15px, 24px);
  font-weight: bold;
}
