@main-catalog: #000000;
@bg-catalog:  #f2f2f2;
@br-catalog: #ececec;

.catalog__header {
  color: @main-catalog;
  background-color: @bg-catalog;
  padding: 75px 0;
  text-align: center;
}

.catalog__title {
  .no-indents;
  .text(27px, 30px, bold);
}

.catalog__wrapper {
  width: 260px;
  padding-top: 30px;
  margin: auto;
}

.catalog__list {
  .no-indents;
  list-style: none;
}
