.contacts__container {
  .container();
  padding: 28px 30px 39px 30px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 3px;
  margin-bottom: 6px;
}

.contacts__title {
  .text(18px, 30px);
  .no-indents();
  margin-bottom: 27px;
}

.contacts__info {
  .text(15px, 30px);
  .no-indents();
  margin-bottom: 30px;
  color: @color-text--lightgrey;
}

.contacts__info--adress {
  width: 180px;

}

.contacts__info--mail {
  height: 27px;
  text-decoration: none;
  border-bottom: 1px solid #62D2BC;
}

.contacts__map {
  position: relative;
  display: block;
  margin-left: -30px;
  margin-bottom: 35px;
}

.contacts__map::after {
  position: absolute;
  bottom: 215px;
  left: 139px;
  width: 67px;
  height: 100px;
  content: "";
  background-image: url("../img/icon-map-pin.svg");
  background-position: 100%;
  background-size: 67px 100px;
  background-repeat: no-repeat;
}

.contacts__button {
  display: block;
  width: 260px;
  .button();
  .text(18px, 20px);
  margin: 0 auto;
  padding: 14px;
}

@media (min-width: @tablet-width) {
  .contacts__container {
    .container();
  }

  .contacts__wrapper {
    width: 100%;
    .no-indents();
    padding-top: 21px;
    margin-bottom: 27px;
  }

  .contacts__title {
    .text(43px, 50px);
    margin-left: -6px;
    padding-top: 45px;
    position: relative;
  }

  .contacts__title::after {
    position: absolute;
    top: 30px;
    right: 5px;
    content: "";
    width: 47px;
    height: 81px;
    background-image: url("../img/flag.svg");
    background-position: 100%;
    background-size: 47px 81px;
    background-repeat: no-repeat;

  }

  .contacts__info {
    .text(17px, 30px);
  }

  .contacts__info--mail {
    height: 31px;
    margin-right: 35px;
  }

  .contacts__info--adress {
    width: 263px;
    padding-left: 5px;
  }

  .contacts__map {
    margin-left: -50px;
    margin-bottom: 52px;
  }

  .contacts__map::after {
    bottom: 222px;
    left: 363px;
  }
  .contacts__button {
    width: 230px;
    margin-bottom: 57px;
  }
}

@media (min-width: @desctop-width) {
  .contacts__container {
    position: relative;
    padding-left: 225px;
  }

  .contacts__wrapper {
    width: 315px;
    padding: 0;
    margin-bottom: 48px;
  }

  .contacts__info--adress {
    padding-left: 25px;
  }

  .contacts__title {
    .text(53px, 57px);
    padding-top: 117px;
    margin-bottom: 50px;
  }

  .contacts__title::after {
    top: 109px;
    left: -106px;
  }
  .contacts__map {
    position: absolute;
    top: 47px;
    right: 51px;
  }

  .contacts__map::after {
    bottom: 214px;
    left: 239px;
  }

  .contacts__button {
    margin: 0;
    margin-bottom: 105px;
  }
}
