.copyright {
  display: flex;
  padding: 28px 39px;
}

.copyright__logo {
  display: flex;
  .text(19px, 18px);
  font-weight: bold;
  text-decoration: none;
  color: @color-text;
  background-color: @color-bg--lightgrey;
  align-self: center;
}

.copyright__logo svg {
  fill: #63d1bb;
  margin-top: -5px;
  margin-left: 30px;
}

.copyright__logo:hover svg,
.copyright__logo:focus svg {
  fill: @color-hover;
}

.copyright__logo:active svg {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
    padding-top: 12px;
    margin-top: -30px;
  }
}
