.container {
  .container();

}
.main-header .container {
  padding: 0;
}
/*
.main-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 320px;
  margin: 0 auto;
}
*/


@media (min-width: @tablet-width) {

  .main-header {
    background: linear-gradient(to bottom, @color-bg 0px, @color-bg 88px, #f9f9f9 89px, #f9f9f9 100%);
  }


}

@media (min-width: @desctop-width) {

}
