.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: @color-bg--lightgrey;
}

.container {
  .container();
}

.main-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    flex-direction: row;
    width: @tablet-width;
    padding: 60px 50px;
  }
  .main-footer__logo {
    display: block;
  }
}

@media (min-width: @desctop-width) {
  .main-footer__wrapper {
    width: @desctop-width;
  }
}
