.main-footer {
  background-color: @color-bg--lightgrey;
}

.main-footer__container {
  .container();
  padding: 0 30px;
}

.main-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {

  .main-footer {
    flex-direction: row;
  }

  .main-footer__container {
    display: flex;
    justify-content: space-between;
    padding: 51px 50px 42px 50px;
  }

  .main-footer__logo {
    display: block;
    cursor: pointer;
    margin-right: 79px;
  }

  .main-footer__logo:hover svg,
  .main-footer__logo:focus svg {
      fill: #46c1ae;
  }

  .main-footer__logo:active svg {
    opacity: 0.3;
  }
}

@media (min-width: @desctop-width) {
  .main-footer__logo {
    margin-right: 58px;
  }
}
