.main-nav {
  position: relative;
}

.main-nav__toggle {
  border: none;
  padding: 0;
  position: absolute;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  .no-indents();
}

.main-nav__item {
  display: flex;
  width: 320px;
  padding: 30px 0 30px 75px;
  border-bottom: 1px solid @color-br;
}

.main-nav__link {
  position: relative;
  .text(17px,24px);
  font-weight: bold;
  text-decoration: none;
  color: @color-text;
  background-color: @color-bg;
  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

  .main-nav__link-search-icon {
    position: absolute;
    top: 5px;
    left: -45px;
    opacity: 0.2;
  }

  .main-nav__link:hover svg,
  .main-nav__link:focus svg {
    fill: @color-icon-seablue;
    opacity: 1;
  }

    .main-nav__link:active svg{
      opacity: 0.3;
    }

  .main-nav__link-basket-icon {
    position: absolute;
    top: 4px;
    left: -52px;
    opacity: 0.2;
  }

.main-nav__item--logo {
  justify-content: center;
  padding: 22px 0 16px;
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
  &:hover,
  &:focus {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.main-nav__item--opened {
  display: block;
}

.main-nav__item--closed {
  display: none;
}

.main-nav__item--delivery,
.main-nav__item--new,
.main-nav__item--sale {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__item {
    justify-content: flex-start;
    padding: 0;
    border: none;

    &:nth-child(2),
    &:nth-child(3) {
      order: 2;
      width: 168px;
      padding-top: 20px;
    }
    &:nth-child(4) {
      order: 1;
      width: 84px;
      border-right: 1px solid @color-br;
      border-left: 1px solid @color-br;
    }
    &:nth-child(5) {
      justify-content: flex-end;
      order: 1;
      flex-grow: 1;
      width: auto;
      padding: 32px 0;
      text-align: right;
    }
  }

  .main-nav__item--logo {
    padding-top: 22px;
    justify-content: flex-start;
  }

  .main-nav__item--delivery{
    display: block;
    text-align: right;
    padding-top: 20px;
    order: 3;
    flex-grow: 1;
  }

  .main-nav__item--delivery small {
    .text(15px, 24px);
    color: @color-text--lightgrey;
    background-color: transparent;
  }

  .main-nav__link {
    .text(15px, 24px);
    background-color: transparent;
    }

  .main-nav__link--search {
    width: 82px;
    font-size: 0;
    border-left: 1px solid @color-br;
    border-right: 1px solid @color-br;
  }

  .main-nav__link--basket {
    .text(17px, 24px);
  }

  .main-nav__link-search-icon {
    top: 22px;
    left: 32px;
  }

  .main-nav__logo-image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: @desctop-width) {
  .main-nav__item--logo {
    order: 2;
    padding-left: 70px;
  }

  .main-nav__item--new,
  .main-nav__item--sale {
    display: block;
    order: 4;
    width: 220px;
    padding-top: 20px;
  }

  .main-nav__item--delivery {
    order: 5;
    flex-grow: 1;
  }

  .main-nav__item {
    &:nth-child(2) {
      order: 1;
      width: 185px;
      padding: 32px 0;
      border-right: 1px solid @color-br;
    }
    &:nth-child(3) {
      order: 1;
      width: 195px;
      padding: 32px 0;
      padding-left: 35px;
    }

    &:nth-child(4) {
      order: 3;
    }

    &:nth-child(5) {
      order: 3;
      width: 250px;
    }
  }

  .main-nav__link--catalog,
  .main-nav__link--yarn {
    .text(17px, 24px);
  }

  .main-nav__item--logo {
    padding-top: 9px;
  }
  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }
}
