.products__container {
  .container();
  padding: 27px 30px 39px;
}

.products::after {
  content: "";
  display: block;
  position: relative;
  bottom: 4px;
  width: 320px;
  height: 7px;
  margin: 0 auto;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-size: 320px 7px;
  transform: rotate(180deg);
}

.products__name {
  display: block;
  .text(25px, 30px);
  font-weight: bold;
  margin-bottom: 3px;
  margin-left: 2px;
  color: @color-text;
  background-color: @color-bg;
}

.products__title {
  .text(17px, 24px);
  font-weight: bold;
  margin: 0;
  margin-bottom: 21px;
  color: @color-text__products-title;
  background-color: @color-bg;
}

.products__description {
  .text(15px, 24px);
  margin: 0;
  margin-bottom: 18px;
  color: @color-text--lightgrey;
  background-color: @color-bg;
}

.products__property {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .text(15px, 20px);
  margin-bottom: 28px;
  color: @color-text--lightgrey;
  background-color: @color-bg;
  border-collapse: collapse;
}

.products__property-item {
  display: flex;
  width: 260px;
  height: 40px;
  padding: 0;
  align-items: center;
  border-bottom: 1px solid @color-br;
}

.products__property-text {
  width: 67px;
  padding: 0;
  margin-right: 30px;
}

.products__price-text {
  .text(17px, 24px);
  font-weight: bold;
  margin: 0;
  margin-bottom: 26px;
  padding-top: 21px;
  text-align: center;
  color: @color-text--lightgrey;
  background-color: @color-bg;
}

.products__button {
  display: block;
  width: 260px;
  .button();
  .text(17px,20px);
  padding: 14px;
}

@media (min-width: @tablet-width) {
  .products__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: -10px;
    padding-top: 56px;
    padding-bottom: 35px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .products::after {
    bottom: 15px;
    width: 771px;
    height: 17px;
    margin: 0 auto;
    background-size: 768px 16px;
  }

  .products__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 290px;
  }

  .products__name {
    width: 573px;
    .text(43px, 50px);
    margin-bottom: 49px;
    margin-left: -2px;
  }

  .products__title {
    width: 70px;
    text-align: center;
    padding-top: 12px;
    .text(17px, 17px);
  }

  .products__description {
    .text(17px, 30px);
    margin-bottom: 35px;
  }

  .products__property {
    margin-bottom: 36px;
  }

  .products__property-item {
    width: 291px;
  }

  .products__price-text {
    .text(20px, 24px);
    margin-bottom: 34px;
  }

  .products__button {
    width: 291px;
    margin-bottom: 32px;
    padding-top: 15px;
    padding-bottom: 13px;
  }

  .products__img {
    position: absolute;
    top: 8px;
    right: -378px;
    width: 333px;
    height: 404px;
  }
}

@media (min-width: @desctop-width) {
  .products {
    margin-top: -15px;
  }

  .products::after {
    bottom: 25px;
    width: 1050px;
    height: 23px;
    background-size: 1050px 24px;
  }

  .products__container {
    padding-top: 141px;
    padding-bottom: 30px;
    margin-top: -17px;
    background-size: 109%;
  }

  .products__wrapper {
    width: 350px;
    order: 2;
    margin-left: 175px;
  }

  .products__name {
    position: relative;
    order: 1;
    .text(53px, 57px);
    z-index: 2;
    margin-left: -4px;
    background-color: transparent;
  }

  .products__title {
    order: 0;
    .text(17px, 17px);
    padding-top: 15px;
    margin: 0 58px 0 47px;
  }

  .products__property-item {
    align-items: baseline;
    padding-top: 6px;
  }

  .products__description {
    .text(17px, 30px);
    margin-bottom: 50px;
  }

  .products__property {
    margin-bottom: 87px;
  }

  .products__price-text {
    .text(20px, 24px);
    width: 291px;
    margin-bottom: 34px;
  }

  .products__button {
    margin-bottom: 68px;
  }

  .products__img {
    position: absolute;
    top: -159px;
    right: -525px;
    width: 525px;
    height: 636px;
  }
}
