.products {
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 41px;
  margin-bottom: 27px;
}

.products__wrapper {
  width: 260px;
  margin: 0 auto;
}

.products__list {
  list-style: none;
  .no-indents();
}

.products__name {
  display: block;
  .text(25px, 30px);
  font-weight: bold;
  margin-bottom: 8px;
  color: @color-text;
  background-color: @color-bg;
}

.products__title {
  .text(17px, 24px);
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  color: @color-text__products-title;
  background-color: @color-bg;
}

.products__description {
 .text(15px, 24px);
  margin: 0;
  margin-bottom: 33px;
  color: @color-text--lightgrey;
  background-color: @color-bg;
}

.products__property {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .text(15px, 20px);
  margin-bottom: 28px;
  color: @color-text--lightgrey;
  background-color: @color-bg;
  border-collapse: collapse;
}

.products__property-item {
  display: flex;
  width: 260px;
  height: 40px;
  border-bottom: 1px solid @color-br;
}

.products__property-text {
  width: 67px;
  margin-right: 30px;
}

.products__img {
  margin-bottom: 29px;
}

.products__price-text {
  .text(17px, 24px);
  font-weight: bold;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  color: @color-text--lightgrey;
  background-color: @color-bg;
}

.products__button {
  display: block;
  width: 260px;
  .text(17px,20px);
  font-weight: bold;
  padding: 15px 0;
  text-decoration: none;
  text-align: center;
  border: 2px solid @color-text--lightgrey;
  color: @color-text--lightgrey;
  background-color: @color-bg;
}

@media (min-width: @tablet-width) {
  .products__wrapper {
    width: 100%;
    max-width: 1150px;
  }
  .products__name {
    .text(43px, 50px);
  }
  .products__title {
    .text(17px, 17px);
  }
  .products__description {
    .text(15px, 30px);
  }
  .products__price-text {
    .text(20px, 24px);
  }
}

@media (min-width: @desctop-width) {
  .products__name {
    .text(53px, 57px);
  }
  .products__title {
    .text(17px, 17px);
  }
  .products__description {
    .text(17px, 30px);
  }
  .products__price-text {
    .text(20px, 24px);
  }
}
