
.products__wrapper {
  width: 260px;
  height: 100%;
  margin: auto;
}

.products__list {
  list-style: none;
  .no-indents();
}

.products__name {
  display: block;
  .text(25px,30px);
  font-weight: bold;
  margin-bottom: 8px;
  color: @color-text;
  background-color: @color-bg;
}

.products__title {
  .text(17px, 24px);
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  color: @color-text__products-title;
  background-color: @color-bg;
}

.products__description {
 .text(15px,24px);
  margin: 0;
  margin-bottom: 33px;
  color: @color-text--lightgrey;
  background-color: @color-bg;
}

.products__property {
  .text(15px, 20px);
  color: @color-text--lightgrey;
  background-color: @color-bg;
}

.products__img {
  margin-bottom: 29px;
}

.products__price-text {
  .text(17px,24px);
  font-weight: bold;
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
  color: @color-text--lightgrey;
  background-color: @color-bg;
}

.products__button {
  display: block;
  width: 260px;
  .text(17px,20px);
  font-weight: bold;
  margin-bottom: 36px;
  padding: 15px 0;
  text-decoration: none;
  text-align: center;
  border: 2px solid @color-text--lightgrey;
  color: @color-text--lightgrey;
  background-color: @color-bg;
}
